In [5]:
data <- read.csv("/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/CAD.csv")
head(data)

  ID      CAD_UKBB CAD_Composite
1 1000013 0        0
2 1000024 0        0
3 1000036 0        0
4 1000048 0        0
5 1000055 0        1
6 1000067 0        0

In [6]:
data <- data.frame(IID=data$ID,FID=data$ID,CAD_Composite=data$CAD_Composite)

In [7]:
head(data)

  IID     FID     CAD_Composite
1 1000013 1000013 0
2 1000024 1000024 0
3 1000036 1000036 0
4 1000048 1000048 0
5 1000055 1000055 1
6 1000067 1000067 0

In [9]:
write.table(data,"/mnt/stsi/stsi1/ptseng/UKBB_Resources/phenos/plink_CAD.txt",row.names=FALSE,col.names=FALSE)