In [1]:
data <- read.csv('/mnt/stsi/stsi1/ptseng/UKBB_Resources/filtered_noimpute_bed/ukb_cal_allChrs_prune.fam', sep='\t')

In [2]:
head(data)

  X2210132 X2210132.1 X0 X0.1 X1 X.9
1 5803573  5803573    0  0    2  -9
2 1898792  1898792    0  0    2  -9
3 3342906  3342906    0  0    2  -9
4 5111305  5111305    0  0    2  -9
5 1539811  1539811    0  0    1  -9
6 2648567  2648567    0  0    2  -9

In [3]:
subdata <- data[,c(1,2)]
names(subdata) <- c('FID','IID')

In [4]:
output <- subdata[sample(nrow(subdata), 5000), ]

In [5]:
head(output)

       FID     IID
65455  3056490 3056490
449379 1097071 1097071
82279  5392302 5392302
402401 4893551 4893551
218593 4526692 4526692
239559 1012016 1012016

In [9]:
write.table(output,'plink_filter_keep.txt',row.names = FALSE)